html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

main {
    font-family: "Montserrat", sans-serif;
}


.logo {
    width: 5rem;
}
nav {
    height: 8rem;
}
@media (min-width: 768px) { 
    .container-logo {
        margin-left: 20rem;
    }
    
    .navegacion {
        margin-right: 20rem;
    }
    
    .nav-item {
        margin: 0 1rem
    }
    .carousel-img {
        width: 100%;
        height: 100vh;
    }
    .carousel {
        margin-top: -9rem;
        margin-bottom: 8rem;
    }
    nav {
        margin-top: 0;
    }
}

h2 {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
}

.hr-custom {
    margin: 4rem auto;
    width: 80%;
}

hr {
    margin-top: 4rem;
}



.box-icon {
    height: 4rem;
}



.card {
    width: 30rem;
}



#contacto {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

textarea {
    resize: none;
}

@media (min-width: 768px) { 

    .popover { 
        font-size: 1.3rem;
        text-align: center;
        width: 25rem;
    }
 }


footer {
    height: 10rem;
}




